

.CodeMirror {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

div.preview-table-area {
    
}

table tr.header th {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
}