<?xml version="1.0"?>
<!--
 * Copyright © 2015 Wyomind. All rights reserved.
 * See LICENSE.txt for license details.
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/Event/etc/events.xsd">
   
<!--    <event name="sales_quote_product_add_after">
        <observer name="ordersexporttool_copy_quote_item_export_to" instance="Wyomind\OrdersExportTool\Observer\SalesQuoteProductAddAfter"/>
    </event>-->
    <event name="checkout_submit_all_after">
        <observer name="ordersexporttool_checkout_submit_all_after" instance="Wyomind\OrdersExportTool\Observer\CheckoutSubmitAllAfter"/>
    </event>
    <event name="ordersexporttool_export_order">
        <observer name="export_order" instance="Wyomind\OrdersExportTool\Observer\OrderExport"/>
    </event>
</config>
