<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <neklo_scrolltotop>
            <general>
                <is_enabled>1</is_enabled>
            </general>
            <frontend>
                <color>#f49c14</color>
                <position>right</position>
            </frontend>
            <display_on>
                <all>1</all>
            </display_on>
        </neklo_scrolltotop>
    </default>
</config>