<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
 <menu>

	<add id="Magebees_Navigationmenupro::Heading" title="MageBees Navigation Menu Pro" module="Magebees_Navigationmenupro" 
		 sortOrder="50" parent="Magento_Backend::content" resource="Magebees_Navigationmenupro::Heading" />
	 <add id="Magebees_Navigationmenu::menugroup" title="Manage Menu Groups"  action="navigationmenupro/menucreatorgroup/index" module="Magebees_Navigationmenupro" sortOrder="1" parent="Magebees_Navigationmenupro::Heading" resource="Magebees_Navigationmenu::menugroup"/>
	 <add id="Magebees_Navigationmenu::manageitems" title="Manage Menu Items" action="navigationmenupro/menucreator/index" module="Magebees_Navigationmenupro" sortOrder="1" parent="Magebees_Navigationmenupro::Heading" resource="Magebees_Navigationmenu::manageitems"/>
 </menu>
</config>

